<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamaFinance</title>
    {% block head %} {% endblock head %}
</head>
<body>
    <nav>
        <a href="{% url 'listar_contas' %}">Listar Contas</a> |
        <a href="{% url 'cadastrar_contas' %}">Cadastrar Conta</a> |
        <a href="{% url 'create_category' %}">Cadastrar Categoria</a>
    </nav>
    {% block content %}
    {% endblock content %}

</body>
</html>